.hero-section::before,
.hero-section::after {
  content: '';
  position: absolute;
  width: 20%;
  height: 100%;
  top: 0;
  background-repeat: no-repeat;
  background-size: contain; /* show full image without cropping */
  background-position: center;
  z-index: 1;
}

.hero-section::before {
  background-image: url('../assets/hero-leaf1.png');
  left: 0;
}

.hero-section::after {
  background-image: url('../assets/hero-leaf2.png');
  right: 0;
}
